////fonts
$arial: Arial, Helvetica, sans-serif;

//colors
$black: #000000;
$white: #ffffff;
$gray-header: #6c6c6c;
$gray-content: #949494;
$dark-gray: #202020;
$light-gray: #ffffff;
$light-gray-table: #d6d6d6;
$dark-gray-table: #333333;
$gray-table: #adadad;
$dark: #070707;

